<div class="unit one-of-two">
  <% form_tag '/signup', :class => 'pure-form pure-form-aligned', :method => 'post' do %>
    <h2>Sign up</h2>

    <%= flash_tag %>

    <div class="large-input">
      <%= text_field_tag :username, :value => params[:username], :placeholder => "Username" %>
      <%= password_field_tag :password, :placeholder => "Password" %>
      <%= password_field_tag :password_confirmation, :placeholder => "Confirm Password" %>
      <%= submit_tag 'Submit', :class => 'pure-button pure-button-primary submit-button' %>
    </div>
  <% end %>
</div>
