<ul>
  <% sites.each do |site| %>
    <li>
      <%= site.user %>/<%= site.project %>: <%= site.commits %> Commits.
      <% if !site.url.empty? %>
        <a href="<%= site.url %>"><%= site.url %></a>
      <% end %>
    </li>
  <% end %>
</ul>
