<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CreeperMon <%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag 'toast' %>
    <%= stylesheet_link_tag 'buttons' %>
    <%= stylesheet_link_tag 'forms' %>
    <%= stylesheet_link_tag 'tables' %>
    <%= stylesheet_link_tag 'style' %>

    <%= yield_content :assets %>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container" role="main">
      <div class="grid">
        <header class="unit span-grid" role="banner">
        <h1 class="site-title">Creeper</h1>
        <h2 class="site-tagline">A Deployment Tool</h2>
        </header>

        <hr class="unit span-grid">

        <%= yield %>
      </div>
    </div>
  </body>
</html>
